.search{
    margin-top: -30%;
    margin-left: 64% ;
    background-color: white;
    width: 18%;
    padding-top: 3% !important;
    padding: 1%;
    padding-bottom: 4%;
    position: fixed;
    height: fit-content;
    display: block;
}
.input{
    display: flex;
}
.quick{
    margin-left: -10%;
    margin-top: 1%;
}
#searchbar{
    width: 30%;
    height: fit-content;
    outline: none;
    padding: 1%;
    margin-top: 0.5%;
    margin-left: 63% !important;
    z-index: 20;
    position: fixed;
    border: solid #e6e4df;
    
}
.category h3{
font-family: sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #00243F;
padding-top: 7.5%;
padding-bottom: 2.7%;
}
.set{
font-family: sans-serif;
font-style: normal;
font-weight: 275;
font-size: 13px;
line-height: 20px;
color: #5D5D5D;
}
.rec{   
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 22px;
color: #000000;
cursor: pointer;
}